.form{
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: absolute;
    height: 240px;
    width: 480px;
    top: calc(50% - 240px/2);
    left: calc(50% - 240px);
}
.edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 568px;   
    gap: 24px;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 48px;
    width: 480px;   
    gap: 24px;
}