.main__container{
    position: absolute;
    height: 400px;
    width:680px;
    top: calc(50% - 180px);
    left: calc(50% - 340px);
    border-radius: 40px;
    background: #131316;
    z-index: 5;
}

.header{
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.button{
    margin-left: auto; 
    margin-right: 0;
    background: #131316;
}
